<div class ="container">
<div class="category">
  <h2>Alle Benutzer</h2>
</div>
<% @users.each do |user| %>
<div class="product-view">
    <%= link_to user.username, user %>
    <%= user.email %>
</div>
<% end %>
</div>
