<% if obj.errors.any? %>
<div class="alert alert-notice">
  <strong>
  <%= pluralize(obj.errors.count, "error") %>
    prohibited this product from being saved:
  </strong>
  <ul>
  <% @product.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
