// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

//variables
$navbar-default-bg: #08088A;

//fixed navbar padding
body { padding-top: 70px; }


//product styling
.product-img{

}
.product-name {
 font-weight: bold;
 font-size: 1.5em;
}
.product-price {
  font-weight: bold;
  font-size: 1.5em;
}
.product-description {
 border-bottom: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}
