//// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//@import "bootstrap-sprockets";
//@import "bootstrap";

// Custom non bootstratp STyling
body{
  font-family: Poppins, Arial;
  margin: 0;
}
/* Links inside the navbar */
nav {
  background-color: #193157;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}
nav a {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

nav a:hover {
    background: #fff;
    color: #193157;
}

/*header*/
header{
  background-color: #fff;
  text-align: center;
  color: #193157;
  box-sizing: border-box;
  position: static;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 20px;
}

header h1{
  line-height: 0.75;
}

/*Buttons*/
.btn-success,
.btn-error,
.btn-warning,
.btn-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    margin: 0 0;
    text-decoration: none;
  }

.btn-success {
    background: rgb(28, 184, 65); /* this is a green */
}
.btn-success:hover{
  background: limegreen;
}

.btn-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
.btn-error:hover {
    background: red;
}

.btn-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}
.btn-warning:hover {
    background: orange;
}
.btn-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.btn-secondary:hover {
    background: blue;
}

/*admin new product*/
.adm-new {
  text-align: center;
}

/*Category Beschreibung*/
.category{
  text-align: center;
  color: #ffa500;
}

/*content container*/
.container {
  /*min-width: 500px;*/
  margin: auto;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  max-width: 960px;
  margin: 0 auto 30px
}

.product {
  display: grid;
  grid-template-rows: 55% 25% 10% 10%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  height: 350px;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product h2 {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffa500;
  padding: 10px 0px 10px 0px;
}
.price {
  display: block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #4a4a4a;
  bottom: 5px;
}

.messaging {
  display: block;
  position: relative;
  bottom: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.messaging a{
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid grey;
  border-radius: 15pt;
  padding: 5px 5px;
  margin: 0 0;
  text-decoration: none;
  background-color: #193157;
}

.messaging a:hover{
  background-color: #ffa500;
  color: #193157;
}


/* footer */
/* Footer Style */

footer {
  margin-top: 44px;
  background-color: #fff;
  text-align: center;
  color: #193157;
  border-top: 1px solid grey;
}
footer a {
    display: inline-block;
    color: #193157;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

footer a:hover {
    background: #193157;
    color: #fff;
}


  /* miscellaneous */

  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
  }
