//// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//@import "bootstrap-sprockets";
//@import "bootstrap";

// Custom non bootstratp STyling
body{
  font-family: Poppins, Arial;
  margin: 0;
  color: #193157;
}

h1,h2 {
  color: #193157;
}
/* Links inside the navbar */
nav {
  background-color: #193157;
  font-size: 13pt;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}
nav a {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

nav a:hover {
    background: #fff;
    color: #193157;
}

/*admin new product*/
.adm-new {
  background-color: #193157;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 10px 10px 0px 10px;
}
/*header*/
header{
  background-color: #fff;
  margin-top: 50px;
  text-align: center;
  color: #193157;
  box-sizing: border-box;
  position: static;
  width: 100%;
  margin-bottom: 20px;
}

header h1{
  line-height: 0.75;
}

/*Buttons*/
.btn-success,
.btn-error,
.btn-warning,
.btn-primary,
.btn-secondary {
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    margin: 0 auto;
  	border-width: 1px 1px 3px;
  	margin-bottom: 10px;
  }

.btn-success {
    background: rgb(28, 184, 65); /* this is a green */
}
.btn-success:hover{
  background: limegreen;
}

.btn-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
.btn-error:hover {
    background: red;
}

.btn-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}
.btn-warning:hover {
    background: orange;
}
.btn-primary {
    border: 1px solid #16a085;
    background: #1abc9c;
}
.btn-primary:hover {
    background: #109177;
}
.btn-secondary {
    border: 1px solid #538ae1;
    background: rgb(66, 184, 221); /* this is a light blue */
}
.btn-secondary:hover {
    background: #349ebf;
}
/*flash messages*/
.alert{
  display: block;
  width: 80%;
  font-size: 18px;
  border: 1px solid;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
}
.alert-danger{
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
.alert-notice{
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}
.alert-success{
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}
/*error messages*/


/*Category Beschreibung*/
.category{
  text-align: center;
  color: #ffa500;
}

/*content container*/
.container {
  /*min-width: 500px;*/
  margin: auto;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 1290px;
  margin: 0 auto;
}
/* Index Product View */
.product {
  display: grid;
  grid-template-rows: 60% 15% 7% 18%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  height: 350px;
}
.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Single Product View */
.product-view {
  display: grid;
  grid-template-rows: 50% 15% 10% 25%;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.product-view img {
  object-fit: contain;
}

/*Product Attributes*/
.product-name {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffa500;
  padding: 10px 0px 10px 0px;
}
.product-price {
  display: block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #4a4a4a;
  bottom: 5px;
}

.product-messaging {
  display: block;
  //position: relative;
  //bottom: 0;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}
/*
.product-messaging a{
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid grey;
  //border-radius: 15pt;
  padding: 5px 5px;
  //margin: 0 0;
  text-decoration: none;
  background-color: #193157;
}

.product-messaging a:hover{
  background-color: cornflowerblue;
}*/

.product-actions {
  padding: 10px 10px 10px 10px;
}
/*form*/

.form-style{
	max-width: 500px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;

}
.form-style fieldset{
	border: none;
}
.form-style legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style label {
	display: block;
	margin-bottom: 8px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style file,
.form-style textarea,
.form-style select {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	//color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style input[type="password"]:focus,
.form-style textarea:focus,
.form-style select:focus{
	background: #d2d9dd;
}
.form-style select{
	-webkit-appearance: menulist-button;
	height: 40px;
}
.form-style .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style input[type="submit"],
.form-style input[type="button"]
{
	position: relative;
	display: block;
	padding: 8px 20px 8px 20px;
	margin: 0 auto;
	background: #1abc9c;
  color: #FFF;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover
{
	background: #109177;
}


/* footer */
/* Footer Style */

footer {
  margin-top: 44px;
  background-color: #fff;
  text-align: center;
  color: #193157;
  border-top: 1px solid grey;
}
footer a {
    display: inline-block;
    color: #193157;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

footer a:hover {
    background: #193157;
    color: #fff;
}


  /* miscellaneous */

  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
  }
