<div class="category">
<h2>Alle Produkte</h2>
</div>
<div class="grid">
  <% @allCategories.each do |cat| %>
  <div class="product">
    <div class="product-name">
      <%= link_to cat.name, category_path(cat.id) %>
    </div>
    <div class="product-actions">
     <%= link_to "Edit", edit_category_path(cat), class: "btn-warning" %>
     <%= link_to "Delete", category_path(cat), method: :delete, data: { confirm: "Are you sure you want to delete this product?"}, class: "btn-error" %>
    </div>
  </div>
  <% end %>
</div>
