<footer>
  <div class="footerlinks">
    <a href="https://angebote.partylite.de">Shop</a>
    <a href="https://www.facebook.com/groups/partylitebymelb/">Facebook</a>
    <a href="https://www.verkaufspartys.net/melanie.bialowons">Verkaufsparties</a>
  </div>
  <div class="copyright">
    Melanie Bialowons - selbstständige Handelsvertreterin
  </div>
  <div class="change">
    Stand <%= last_change %>
  </div>
</footer>
